.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.header__nav {
  display: flex;
  gap: 64px;
}

.header__link {
  text-decoration: none;
  color: #292929;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}