.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.container__nav {
  display: flex;
  gap: 32px;
}
a {
  text-decoration: none;
  color: #292929;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}