
.main {
  padding: 120px;
}
.main-container {
  height: 100%;
  position: relative;
}

.main__men {
  position: absolute;
  z-index: 1;
  left: -290px;
  top: -260px;
}

.main__text {
  position: relative;
  max-width: 587px;
  font-size: 20px;
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  top: -85px;
  padding-bottom: 107px;
  z-index: 2;
  
}

.main__title {
  font-size: clamp(100px, 10vw, 160px);
  font-family: arial;
  letter-spacing: 8px;
  color:#CFCFCD;
  font-weight: 900;
  line-height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
}

.main__link {
  padding: 11px 32px;
  display: block;
}