.container__text {
  margin-left: auto;
  top: 498px;
  position:  absolute;
  max-width: 587px;
  right: 200px;
  font-family: arial;
  font-size: 20px;
  right: 291px;
}

.container__men {
  left: 38px;
  top: -34px;
  position: absolute;
}

.container__title {
  font-size: clamp(100px, 10vw, 160px);
  font-family: arial;
  letter-spacing: 8px;
  color:#CFCFCD;
  font-weight: 900;
  line-height: 160px;
  padding-top: 100px;
  position: relative;
  padding-left: 220px;
  z-index: -1;
}
.container__link {
  text-decoration: none;
  color: #292929;
  font-family: arial;
  right: 600px;
  position: absolute;
  padding: 120px;
  font-size: 20px;
}
