html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main-women__container {
  min-height: 973px;
  max-width: 1710px;
  margin: 0 auto;
  border: 3px solid black;
}

@font-face {
  font-family: "Arial";
  src: url("../FONTS/Arial-Black.eot");
  src: url("../FONTS/Arial-Black.eot?#iefix") format("embedded-opentype"), url("../FONTS/Arial-Black.woff") format("woff"), url("../FONTS/Arial-Black.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../FONTS/Roboto-Medium.eot");
  src: url("../FONTS/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../FONTS/Roboto-Medium.woff") format("woff"), url("../FONTS/Roboto-Medium.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../FONTS/Roboto-Bold.eot");
  src: url("../FONTS/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../FONTS/Roboto-Bold.woff") format("woff"), url("../FONTS/Roboto-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: "Roboto";
}
.header__nav {
  display: flex;
  gap: 64px;
}
.header__link {
  text-decoration: none;
  color: #292929;
  font-size: 20px;
  font-weight: 200;
  transition: 0.5s;
}
.header__link:hover {
  color: #FF8340;
  cursor: pointer;
  transform: scale(1.2);
}

.main-men {
  padding: 120px;
  font-family: "Roboto";
  background-color: #EDEDEB;
}
.main-men__img {
  position: absolute;
  z-index: 1;
  left: -290px;
  top: -260px;
}
.main-men__text {
  position: relative;
  font-size: 20px;
  max-width: 587px;
  color: #292929;
  font-weight: 300;
  margin-left: auto;
  top: -85px;
  padding-bottom: 107px;
  z-index: 2;
}
.main-men__title {
  font-family: "Arial";
  font-size: clamp(100px, 10vw, 160px);
  letter-spacing: 8px;
  color: #CFCFCD;
  font-weight: 100;
  position: relative;
  padding-left: 10%;
}
.main-men__link {
  padding: 11px 32px;
  display: block;
  transition: 0.5s;
}
.main-men__link:hover {
  color: #FF8340;
  cursor: pointer;
  transform: scale(1.2);
  padding: 11px 60px;
}

.main-container {
  height: 100%;
  position: relative;
}

.main-women {
  font-family: "Roboto";
}
.main-women__img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-women__title {
  position: relative;
  font-family: "Arial";
  font-weight: 100;
  color: #292929;
  font-size: clamp(80px, 4vw, 60px);
  line-height: 90px;
  padding-top: 169px;
  padding-left: 155px;
  z-index: 5;
}
.main-women__text {
  position: absolute;
  top: 407px;
  left: 361px;
  padding-bottom: 105px;
  padding-left: 26px;
  padding-right: 26px;
  font-weight: 300;
  max-width: 510px;
  z-index: 4;
  letter-spacing: 10%;
  font-size: 20px;
  line-height: 24px;
  border: 6px solid #FF8340;
}
.main-women__link {
  text-decoration: none;
  color: #292929;
  display: block;
  padding-top: 25px;
  padding-left: 32px;
}/*# sourceMappingURL=style.css.map */