.feedback {
  background-color: #FF8340;
  font-family: 'Roboto';

  @media screen and (max-width: 952px){
    padding: 32px;
  }
  &__wrapper {
    position: relative;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 176px;
  }

  &__title {
    font-family: 'Arial';
    font-weight: 100;
    font-size: clamp(32px, 3vw, 45px);
    text-align: center;
    padding-bottom: 35px;
    color: #292929;
    line-height: 160px;
    @media screen and (max-width:  952px) {
      line-height: 45px;
    }

  }

  &__line {
    border: 6px solid #292929;
    max-width: 64px;
    margin: auto;
  }

  &__text {
    font-weight: 200;
    text-align: left;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 10%;
    padding-top: 50px;
    color: #292929;
    padding-bottom: 40px;
  }
}

.choice {

  &__category {
    background-color: #292929;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    color: white;
    padding: 18px 420px 18px 35px;
    margin-right: 40px;
    margin-bottom: 40px;

    @media screen and (max-width: 952px){
      padding: 18px 185px 18px 24px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }  
  
  &__name {
    background-color: white;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    padding: 18px 420px 18px 35px;
    &::placeholder {
      color: #B0B0B0;
    }
    @media screen and (max-width: 952px){
      padding: 18px 161px 18px 24px;
    }
  }

  &__number {
    background-color: white;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    padding: 18px 396px 18px 35px;
    margin-right: 40px;
    margin-bottom: 40px;
    &::placeholder {
      color: #B0B0B0;
    }
    @media screen and (max-width: 952px){
      padding: 18px 161px 18px 24px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  &__email {
    background-color: white;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    padding: 18px 420px 18px 35px;
    &::placeholder {
      color: #B0B0B0;
    }
    @media screen and (max-width: 952px){
      padding: 18px 161px 18px 24px;
    }
  }

  &__messange {
    background-color: white;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    padding: 18px 1130px 157px 35px;
    &::placeholder {
      color: #B0B0B0;
    }   
    @media screen and (max-width: 952px){
      padding: 18px 593px 157px 34px;
    }
  }

  &__button {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 20px;
    padding: 11px 0 11px 0;
    background-color: #FF8340;
    border: 0px;
    color: #292929;
    cursor: pointer;
    float: right;
    padding-top: 54px;
    transition: 0.5s;
    &:hover{
      color: #FFFFFF;
      font-size: 23px;
    }

    @media screen and (max-width: 952px) {
      padding-top: 41px;
    }
  }
}