@font-face {
  font-family: 'Arial';
  src: url('../FONTS/Arial-Black.eot');
  src: url('../FONTS/Arial-Black.eot?#iefix') format('embedded-opentype'),
  url('../FONTS/Arial-Black.woff') format('woff'),
  url('../FONTS/Arial-Black.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../FONTS/Roboto-Medium.eot');
  src: url('../FONTS/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../FONTS/Roboto-Medium.woff') format('woff'),
  url('../FONTS/Roboto-Medium.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../FONTS/Roboto-Bold.eot');
  src: url('../FONTS/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../FONTS/Roboto-Bold.woff') format('woff'),
  url('../FONTS/Roboto-Bold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}