
.main-men {
  padding: 120px;
  font-family: 'Roboto';
  background-color: #EDEDEB;

  &__img {
    position: absolute;
    z-index: 1;
    left: -290px;
    top: -260px;
  }

  &__text {
    position: relative;
    font-size: 20px;
    max-width: 587px;
    color: #292929;
    font-weight: 300;
    margin-left: auto;
    top: -85px;
    padding-bottom: 107px;
    z-index: 2;
  
  }

  &__title {
    font-family: 'Arial';
    font-size: clamp(100px, 10vw, 160px);
    letter-spacing: 8px;
    color:#CFCFCD;
    font-weight: 100;
    position: relative;
    padding-left: 10%;
  }

  &__link {
    padding: 11px 32px;
    display: block;
    transition: 0.5s;

    &:hover {
      color: #FF8340;
      cursor: pointer;
      transform: scale(1.2);
      padding: 11px 60px;
    }
  }
}

.main-container {
  height: 100%;
  position: relative;
}


.main-women {
  font-family: 'Roboto';

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__title {
    position: relative;
    font-family: 'Arial';
    font-weight: 100;
    color: #292929;
    font-size: clamp(80px, 4vw, 60px);
    line-height: 90px;
    padding-top: 169px;
    padding-left: 155px;
    z-index: 5;
  }

  &__text {
    position: absolute;
    top: 407px;
    left: 361px;
    padding-bottom: 105px;
    padding-left: 26px;
    padding-right: 26px;
    font-weight: 300;
    max-width: 510px;
    z-index: 4;
    letter-spacing: 10%;
    font-size: 20px;
    line-height: 24px;
    border: 6px solid #FF8340;
  }

  &__link {
    text-decoration: none;
    color: #292929;
    display: block;
    padding-top: 25px;
    padding-left: 32px;
  }
}