
.main-men {
  padding: 120px;
  font-family: 'Roboto';

  &__img {
    position: absolute;
    z-index: 1;
    left: -290px;
    top: -260px;
  }

  &__text {
    position: relative;
    font-size: 20px;
    max-width: 587px;
    color: #292929;
    font-weight: 300;
    margin-left: auto;
    top: -85px;
    padding-bottom: 107px;
    z-index: 2;
  }

  &__title {
    font-family: 'Arial';
    font-size: clamp(100px, 10vw, 160px);
    letter-spacing: 8px;
    color:#CFCFCD;
    font-weight: 100;
    position: relative;
    padding-left: 10%;
  }

  &__link {
    padding: 11px 32px;
    display: block;
    transition: 0.5s;

    &:hover {
      color: #FF8340;
      cursor: pointer;
      transform: scale(1.2);
      padding: 11px 60px;
    }
  }
}

.main-container {
  height: 100%;
  position: relative;
}