.motiv {
  background-color: #292929;
  color: white;
  font-family: 'Arial';
  padding: 124px 32px 81px 32px;

  @media screen and (max-width: 952px) {
    padding: 53px 32px;
  }

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__title {
    font-size: clamp(60px, 5vw, 80px);
    font-weight: 300;
    line-height: 160px;
    letter-spacing: 5%;
    margin-bottom: 34px;
    @media screen and (max-width: 952px) {
      margin-bottom: 28px;
    }
  }

  &__text {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 10%;
    line-height: 24px;

    @media screen and (max-width: 952px) {
      max-width: 888px;
    }
  }
}