.motiv {
  background-color: #292929;
  color: white;
  font-family: 'Arial';

  @media screen and (max-width: 952px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  &__wrapper {
    position: relative;
    height: 100%;
    padding-top: 124px;
    padding-bottom: 81px;

    @media screen and (max-width: 952px) {
      padding-top: 53px;
      padding-bottom: 53px;
    }
  }

  &__title {
    font-size: clamp(60px, 5vw, 80px);
    font-weight: 300;
    line-height: 160px;
    letter-spacing: 5%;
    margin-bottom: 34px;
    @media screen and (max-width: 952px) {
      margin-bottom: 28px;
    }
  }

  &__text {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 10%;
    line-height: 24px;

    @media screen and (max-width: 952px) {
      max-width: 888px;
    }
  }
}