.header {
  background-color: #EBEBE9;
  padding: 30px 0px 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__nav {
    display: flex;
    gap: 32px;
  }
  &__a {
    text-decoration: none;
    color:#292929;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
}
